{% extends 'register/base.html' %}

{% block title %}{{ genre.name }}{% endblock %}

{% block content %}
    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center">{{ genre.name }} фильмы</h2>

        <div class="grid grid-cols-3 gap-3">
            {% for film in films %}
                <div>
                    <a href="{% url 'menu:film_info' film.pk %}">
                        <div>
                          <img style="height:65vh;width:700px;" src="{{ film.image_url }}"
                               class="rounded-t-xl">
                        </div>

                        <div class="p-6 bg-white rounded-b-xl">
                            <h2 class="text-2xl">{{ film.title }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}